<div class="footer-area">
    <!-- <div class="footer-top section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                    <div class="single-footer-widget wow fadeIn">
                        <div class="footer-logo">
                            <a href="#"><img src="/img/logo.png" alt=""></a>
                        </div>
                        <div class="footer-about-details">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas possimus aut distinctio autem nisi, eaque, quis reprehenderit </p>
                        </div>
                        <div class="footer-widget-social-bookmark">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                    <div class="single-footer-widget wow fadeIn">
                        <h3>pages</h3>
                        <ul class="footer-pages-menu">
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Donor Privacy Policy</a></li>
                            <li><a href="#">Disclaimer</a></li>
                            <li><a href="#">Terms of Use</a></li>
                            <li><a href="#">Copyright Notice</a></li>
                            <li><a href="#">Media Center</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                    <div class="single-footer-widget wow fadeIn">
                        <h3>Twitter Feed</h3>
                        <ul class="twitter-feed">
                            <li>
                                <div class="single-feed">
                                    <div class="feed-icon"><i class="fa fa-twitter"></i></div>
                                    <div class="feed-details">
                                        <p>Each of these snippets uses CSS to create something which pushes the boundaries of modern <a href="#">#webdesign</a>. </p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="single-feed">
                                    <div class="feed-icon"><i class="fa fa-twitter"></i></div>
                                    <div class="feed-details">
                                        <p>Each of these snippets uses CSS to create something which pushes the boundaries of modern <a href="#">#webdesign</a>. </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                    <div class="single-footer-widget wow fadeIn">
                        <h3>Contact</h3>
                        <ul class="footer-contact">
                            <li>
                                <div class="single-contact">
                                    <div class="contact-icon"><i class="fa fa-phone"></i></div>
                                    <div class="feed-details">
                                        <a href="callto:+8800000000000">+88(012) 345 6789</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="single-contact">
                                    <div class="contact-icon"><i class="fa fa-envelope"></i></div>
                                    <div class="feed-details">
                                        <a href="mailto:youdomain@yourdomain.com">yourmail@example.com</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="single-contact">
                                    <div class="contact-icon"><i class="fa fa-map-marker"></i></div>
                                    <div class="feed-details">
                                        <address>121 King Street, Melbourne Victoria 3000, Australia</address>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="subscriber-form">
                            <form id="mc-form">
                                <label class="mt10" for="mc-email"></label>
                                <input type="email" id="mc-email" placeholder="Enter Your Email">
                                <button type="submit" class="plus-btn"><i class="fa fa-paper-plane-o"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div class="footer-bottom wow fadeIn">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <div class="footer-copyright">
                        <p>Copyright &copy; <a href="http://themeforest.net/user/bdexpert"> BDEXPERT</a> All Right Reserved. Design By <a href="http://themeforest.net/user/themexone">Themexone</a></p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <div class="footer-copyright-social-bookmark">
                        <ul>
                            <li><a href="https://www.facebook.com/chuphinhbabydep" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>