    <% content_for :top_background do %>
    	<div class="top-area-bg"></div>
    <% end %>

    <% content_for :welcome_text do %>
    	<div class="welcome-text-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <div class="welcome-text">
                            <h1><%= @webconfig["name"] %></h1>
                            <h3>khoảnh khắc của bạn là</h3>
                            <h2 class="married-date">niềm vui của chúng tôi</h2>
                            <div class="home-button">
                                <a href="#about"><i class="animated fadeInDown fa fa-angle-down"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% end %>

    <!--HÌNH NỔI BẬT-->
    <section class="gallery-area section-padding" id="gallery">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 col-sm-12 col-xs-12">
                    <div class="area-title text-center wow fadeIn">
                        <h2>Nổi bật</h2>
                        <div class="area-title-after"><span class="area-icon"><i class="fa fa-heart-o"></i></span></div>
                        <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p> -->
                    </div>
                </div>
            </div>
            <div class="row gallery-list">
                <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                    <div class="single-gallery wow fadeIn">
                        <div class="gallery-img">
                            <img src="img/gallary/1.jpg" alt="">
                        </div>
                        <div class="gallery-overlay"><a class="gallery-popup" href="img/gallary/1.jpg" data-effect="mfp-zoom-out"><i class="fa fa-search-plus"></i></a></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <div class="single-gallery wow fadeIn">
                        <div class="gallery-img">
                            <img src="img/gallary/4.jpg" alt="">
                        </div>
                        <div class="gallery-overlay"><a class="gallery-popup" href="img/gallary/2.jpg" data-effect="mfp-zoom-out"><i class="fa fa-search-plus"></i></a></div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                    <div class="single-gallery wow fadeIn">
                        <div class="gallery-img">
                            <img src="img/gallary/3.jpg" alt="">
                        </div>
                        <div class="gallery-overlay"><a class="gallery-popup" href="img/gallary/3.jpg" data-effect="mfp-zoom-out"><i class="fa fa-search-plus"></i></a></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <div class="single-gallery wow fadeIn">
                        <div class="gallery-img">
                            <img src="img/gallary/4.jpg" alt="">
                        </div>
                        <div class="gallery-overlay"><a class="gallery-popup" href="img/gallary/4.jpg" data-effect="mfp-zoom-out"><i class="fa fa-search-plus"></i></a></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <div class="single-gallery wow fadeIn">
                        <div class="gallery-img">
                            <img src="img/gallary/5.jpg" alt="">
                        </div>
                        <div class="gallery-overlay"><a class="gallery-popup" href="img/gallary/5.jpg" data-effect="mfp-zoom-out"><i class="fa fa-search-plus"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--GALLERY AREA END-->

    <!--BLOG AREA-->
    <section class="blog-area section-padding" id="blog">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 col-sm-12 col-xs-12">
                    <div class="area-title text-center wow fadeIn">
                        <h2>Our Blog</h2>
                        <div class="area-title-after"><span class="area-icon"><i class="fa fa-heart-o"></i></span></div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                    <div class="single-blog wow fadeIn">
                        <div class="post-thumbnail">
                            <a href="#"><img src="img/blog/1.jpg" alt=""></a>
                        </div>
                        <div class="post-details">
                            <div class="post-title-and-date">
                                <h3><a href="#">OUR STORY</a></h3>
                                <p class="postmeta"><a href="#">25 October 2016</a></p>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            <a href="#" class="read-more">Read More...</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                    <div class="single-blog wow fadeIn">
                        <div class="post-thumbnail">
                            <a href="#"><img src="img/blog/2.jpg" alt=""></a>
                        </div>
                        <div class="post-details">
                            <div class="post-title-and-date">
                                <h3><a href="#">OUR STORY</a></h3>
                                <p class="postmeta"><a href="#">25 October 2016</a></p>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            <a href="#" class="read-more">Read More...</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                    <div class="single-blog wow fadeIn">
                        <div class="post-thumbnail">
                            <a href="#"><img src="img/blog/3.jpg" alt=""></a>
                        </div>
                        <div class="post-details">
                            <div class="post-title-and-date">
                                <h3><a href="#">OUR STORY</a></h3>
                                <p class="postmeta"><a href="#">25 October 2016</a></p>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            <a href="#" class="read-more">Read More...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--BLOG AREA END-->

    <!--Dịch Vụ-->
    <section class="management-people-area section-padding" id="managent">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 col-sm-12 col-xs-12">
                    <div class="area-title text-center wow fadeIn">
                        <h2>Dịch Vụ</h2>
                        <div class="area-title-after"><span class="area-icon"><i class="fa fa-heart-o"></i></span></div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                    </div>
                </div>
            </div>
            <div class="row cauple-and-brides-family">
                <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12 wow fadeIn">
                    <div class="single-management-member">
                        <div class="management-member-img">
                            <img src="img/important-people/1.jpg" alt="">
                        </div>
                        <div class="management-member-details">
                            <h3>Hình cưới</h3>
                            <p>(Grooms Father)</p>
                        </div>
                    </div>
                    <div class="single-management-member">
                        <div class="management-member-img">
                            <img src="img/important-people/2.jpg" alt="">
                        </div>
                        <div class="management-member-details">
                            <h3>Ngoại cảnh</h3>
                            <p>(Grooms Mother)</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 wow fadeIn">
                    <div class="cauple-img">
                        <img src="img/important-people/boom_bride.png" alt="">
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12 wow fadeIn">
                    <div class="single-management-member">
                        <div class="management-member-img">
                            <img src="img/important-people/3.jpg" alt="">
                        </div>
                        <div class="management-member-details">
                            <h3>Kỷ Yếu</h3>
                            <p>(Brides Father)</p>
                        </div>
                    </div>
                    <div class="single-management-member">
                        <div class="management-member-img">
                            <img src="img/important-people/4.jpg" alt="">
                        </div>
                        <div class="management-member-details">
                            <h3>Dịch vụ khác</h3>
                            <p>(Brides Mother)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--MANAGEMENT PEOPLE AREA END-->

    <!--ĐÁNH GIÁ CỦA KHÁCH HÀNG-->
    <section class="wisher-area section-padding" id="wisher">
        <div class="wisher-area-bg"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 col-sm-12 col-xs-12">
                    <div class="area-title text-center wow fadeIn">
                        <h2>Đánh giá của khách hàng</h2>
                        <div class="area-title-after"><span class="area-icon"><i class="fa fa-heart-o"></i></span></div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                    </div>
                </div>
            </div>
            <div class="row wow fadeIn">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 wisher-slider">
                    <div class="row single-wisher">
                        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                            <div class="single-wisher-member">
                                <div class="wisher-member-img">
                                    <img src="img/wishes-person/wisher_1.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 col-lg-7 col-md-offset-1 col-lg-offset-1 col-sm-6 col-xs-12">
                            <div class="single-friends-description">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer. </p>
                                <p class="wishes-member-name">John Anjelina</p>
                            </div>
                        </div>
                    </div>
                    <div class="row single-wisher">
                        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                            <div class="single-wisher-member">
                                <div class="wisher-member-img">
                                    <img src="img/wishes-person/wisher_1.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 col-lg-7 col-md-offset-1 col-lg-offset-1 col-sm-6 col-xs-12">
                            <div class="single-friends-description">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer. </p>
                                <p class="wishes-member-name">John Anjelina</p>
                            </div>
                        </div>
                    </div>
                    <div class="row single-wisher">
                        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                            <div class="single-wisher-member">
                                <div class="wisher-member-img">
                                    <img src="img/wishes-person/wisher_1.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 col-lg-7 col-md-offset-1 col-lg-offset-1 col-sm-6 col-xs-12">
                            <div class="single-friends-description">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer. </p>
                                <p class="wishes-member-name">John Anjelina</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--WISHER AREA END-->

    <!--STORY AREA-->
    <section class="story-area section-padding" id="story">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 col-sm-12 col-xs-12">
                    <div class="area-title text-center wow fadeIn">
                        <h2>Our Love Story</h2>
                        <div class="area-title-after"><span class="area-icon"><i class="fa fa-heart-o"></i></span></div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                    </div>
                </div>
            </div>
            <div class="row story-list">
                <div class="single-story wow fadeIn">
                    <div class="col-md-5 col-lg-5 col-sm-6 col-xs-12">
                        <div class="single-story-image">
                            <div class="story-img">
                                <img src="img/story/1.jpg" alt="">
                            </div>
                            <div class="story-meta">
                                <p class="date"><a href="#">21 MAY <span>2017</span></a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 col-lg-7 col-sm-6 col-xs-12">
                        <div class="single-story-details">
                            <h3>The First Day we Met</h3>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
                            <a href="#" class="read-more">Read more <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="single-story wow fadeIn">
                    <div class="col-md-5 col-lg-5 col-sm-6 col-xs-12">
                        <div class="single-story-image">
                            <div class="story-img">
                                <img src="img/story/2.jpg" alt="">
                            </div>
                            <div class="story-meta">
                                <p class="date"><a href="#">21 MAY <span>2017</span></a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 col-lg-7 col-sm-6 col-xs-12">
                        <div class="single-story-details">
                            <h3>The First Day we Met</h3>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
                            <a href="#" class="read-more">Read more <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="single-story wow fadeIn">
                    <div class="col-md-5 col-lg-5 col-sm-6 col-xs-12">
                        <div class="single-story-image">
                            <div class="story-img">
                                <img src="img/story/3.jpg" alt="">
                            </div>
                            <div class="story-meta">
                                <p class="date"><a href="#">21 MAY <span>2017</span></a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 col-lg-7 col-sm-6 col-xs-12">
                        <div class="single-story-details">
                            <h3>The First Day we Met</h3>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
                            <a href="#" class="read-more">Read more <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="show-more text-center">
                        <a href="#">See more <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--STORY AREA END-->

    <!--FUN FACT AREA-->
    <!-- <section class="fact-area section-padding wow fadeIn" id="fact">
        <div class="fact-area-bg"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                    <div class="single-fun-fact text-center">
                        <div class="fact-icon"><i class="fa fa-video-camera"></i></div>
                        <h3 class="counter">3250</h3>
                        <p>Movie Watched</p>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                    <div class="single-fun-fact text-center">
                        <div class="fact-icon"><i class="fa fa-glass"></i></div>
                        <h3 class="counter">270</h3>
                        <p>Funny Partyes</p>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                    <div class="single-fun-fact text-center">
                        <div class="fact-icon"><i class="fa fa-coffee"></i></div>
                        <h3 class="counter">3250</h3>
                        <p>Cup Of Coffee</p>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                    <div class="single-fun-fact text-center">
                        <div class="fact-icon"><i class="fa fa-train"></i></div>
                        <h3 class="counter">140</h3>
                        <p>Best Travelling</p>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!--FUN FACT AREA END-->

    <!--BẢNG GIÁ-->
    <section class="event-area section-padding" id="event">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 col-sm-12 col-xs-12">
                    <div class="area-title text-center wow fadeIn">
                        <h2>Bảng giá</h2>
                        <div class="area-title-after"><span class="area-icon"><i class="fa fa-heart-o"></i></span></div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                    <div class="single-event wow fadeIn">
                        <div class="event-hidding">
                            <h3>Ceremony</h3>
                        </div>
                        <div class="event-details">
                            <img src="img/event/1.jpg" alt="">
                            <div class="event-schedule-details">
                                <div class="event-schedule">Schedule</div>
                                <div class="event-time-and-date">
                                    <p>Date : 14 Feb 2016 </p>
                                    <p>Time : 12:30 pm </p>
                                    <p>Location : 55/2 United state Austica </p>
                                    <p>Dress Code : White, Red, Pink</p>
                                </div>
                                <a href="#" class="map-location"><span><i class="fa fa-map-marker"></i></span>view location</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                    <div class="single-event wow fadeIn">
                        <div class="event-hidding">
                            <h3>Reception</h3>
                        </div>
                        <div class="event-details">
                            <img src="img/event/2.jpg" alt="">
                            <div class="event-schedule-details">
                                <div class="event-schedule">Schedule</div>
                                <div class="event-time-and-date">
                                    <p>Date : 14 Feb 2016 </p>
                                    <p>Time : 12:30 pm </p>
                                    <p>Location : 55/2 United state Austica </p>
                                    <p>Dress Code : White, Red, Pink</p>
                                </div>
                                <a href="#" class="map-location"><span><i class="fa fa-map-marker"></i></span>view location</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                    <div class="single-event wow fadeIn">
                        <div class="event-hidding">
                            <h3>Party</h3>
                        </div>
                        <div class="event-details">
                            <img src="img/event/3.jpg" alt="">
                            <div class="event-schedule-details">
                                <div class="event-schedule">Schedule</div>
                                <div class="event-time-and-date">
                                    <p>Date : 14 Feb 2016 </p>
                                    <p>Time : 12:30 pm </p>
                                    <p>Location : 55/2 United state Austica </p>
                                    <p>Dress Code : White, Red, Pink</p>
                                </div>
                                <a href="#" class="map-location"><span><i class="fa fa-map-marker"></i></span>view location</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                    <div class="single-event wow fadeIn">
                        <div class="event-hidding">
                            <h3>Last Event</h3>
                        </div>
                        <div class="event-details">
                            <img src="img/event/4.jpg" alt="">
                            <div class="event-schedule-details">
                                <div class="event-schedule">Schedule</div>
                                <div class="event-time-and-date">
                                    <p>Date : 14 Feb 2016 </p>
                                    <p>Time : 12:30 pm </p>
                                    <p>Location : 55/2 United state Austica </p>
                                    <p>Dress Code : White, Red, Pink</p>
                                </div>
                                <a href="#" class="map-location"><span><i class="fa fa-map-marker"></i></span>view location</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--EVENT AREA END-->

    <!--Về Chúng tôi-->
    <section class="about-cauple-area  padding-top" id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 col-sm-12 col-xs-12">
                    <div class="area-title text-center wow fadeIn">
                        <h2>About Cauple</h2>
                        <div class="area-title-after"><span class="area-icon"><i class="fa fa-heart-o"></i></span></div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 cauple-left wow fadeIn">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                            <div class="cauple-content">
                                <div class="name-and-title">
                                    <h3>John carry</h3>
                                    <p>Groom</p>
                                </div>
                                <div class="cauple-details">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown.</p>
                                    <a href="#" class="learn-more">Learn More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                            <div class="cauple-images-and-social-bookmark">
                                <img src="img/about/groom.jpg" alt="">
                                <ul class="cauple-social-bookmark">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 cauple-right wow fadeIn">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                            <div class="cauple-images-and-social-bookmark">
                                <img src="img/about/bride.jpg" alt="">
                                <ul class="cauple-social-bookmark">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                            <div class="cauple-content">
                                <div class="name-and-title">
                                    <h3>Shabnam</h3>
                                    <p>Bride</p>
                                </div>
                                <div class="cauple-details">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown.</p>
                                    <a href="#" class="learn-more">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--ABOUT AREA END-->

    <!--LIÊN HỆ-->
    <section class="contact-area" id="contact">
        <div class="top-party-attendance-area section-padding">
            <div class="party-area-bg"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 col-sm-12 col-xs-12">
                        <div class="area-title text-center wow fadeIn">
                            <h2>Liên hệ</h2>
                            <div class="area-title-after"><span class="area-icon"><i class="fa fa-heart-o"></i></span></div>
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <div class="contact-form-area wow fadeIn">
                            <div class="contact-form">
                                <form action="http://weeding.intimissibd.com/demo/process.php" id="contact-form" method="post">
                                    <div class="row">
                                        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                            <div class="form-group" id="name-field">
                                                <div class="form-input">
                                                    <input type="text" class="form-control" id="form-name" name="form-name" placeholder="Name.." required>
                                                </div>
                                            </div>
                                            <div class="form-group" id="email-field">
                                                <div class="form-input">
                                                    <input type="email" class="form-control" id="form-email" name="form-email" placeholder="Email.." required>
                                                </div>
                                            </div>
                                            <div class="form-group" id="phone-field">
                                                <div class="form-input">
                                                    <input type="text" class="form-control" id="form-phone" name="form-phone" placeholder="Phone..">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                            <div class="form-group" id="message-field">
                                                <div class="form-input">
                                                    <textarea class="form-control" rows="6" id="form-message" name="form-message" placeholder="Event Details You Want To Join..." required></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                            <div class="form-group text-center">
                                                <button type="submit">SEND MESSAGE</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-map-area wow fadeIn">
            <div id="map" style="width: 100%; height: 400px;"></div>
        </div>
    </section>
    <!--CONTACT US AREA END-->