<div class="col-xs-12 col-sm-4 col-md-3">
	<aside class="aside-section">
		<div class="categories-wrapper">
			<div class="info-wrap">
				<h2>Categories</h2>
			</div>
			<ul>
				<li>
					<a href="#">Events</a>
				</li>
				<li>
					<a href="#">Memories</a>
				</li>
				<li>
					<a href="#">Stories</a>
				</li>
				<li>
					<a href="#">Trips</a>
				</li>
				<li>
					<a href="#">General</a>
				</li>
			</ul>
		</div>
		<div class="categories-wrapper recent-post">
			<div class="info-wrap">
				<h2>Recent Posts</h2>
			</div>
			<div class="recent-post-wrapper">
				<figure>
					<a href="#"><img src="http://theemon.com/f/forever/Livepreview/wedding/assets/images/recent-post-1.png" alt=""></a>
				</figure>
				<div class="recent-update">
					<span>22 May  2016</span>
					<h4><a href="blog-detail-page.html">And then she said "I do"</a></h4>
				</div>
			</div>
			<div class="recent-post-wrapper">
				<figure>
					<a href="blog-detail-page.html"><img src="http://theemon.com/f/forever/Livepreview/wedding/assets/images/recent-post-2.png" alt=""></a>
				</figure>
				<div class="recent-update">
					<span>22 May  2016</span>
					<h4><a href="blog-detail-page.html">What a difference a day can make</a></h4>
				</div>
			</div>
			<div class="recent-post-wrapper">
				<figure>
					<a href=""><img src="http://theemon.com/f/forever/Livepreview/wedding/assets/images/recent-post-3.png" alt=""></a>

				</figure>
				<div class="recent-update">
					<span>22 May  2016</span>
					<h4><a href="#">I'll Aways Be Daddy's Girl</a></h4>
				</div>
			</div>
		</div>
		<div class="categories-wrapper tag">
			<div class="info-wrap">
				<h2>Tags</h2>
			</div>
			<ul class="activities clearfix">
				<li>
					<a href="#">Love</a>
				</li>
				<li>
					<a href="#">Wedding</a>
				</li>
				<li>
					<a href="#">General</a>
				</li>
				<li>
					<a href="#">Bride</a>
				</li>
				<li>
					<a href="#">Event</a>
				</li>
				<li>
					<a href="#">Quotes</a>
				</li>
				<li>
					<a href="#">Video</a>
				</li>
			</ul>
		</div>
	</aside>
</div>