<link rel="stylesheet" href="http://theemon.com/f/forever/Livepreview/wedding/assets/css/style.css">
<style>
	body {
		background: beige;
	}

	.top-area {
		height: 100px !important;
	}
</style>
<style type="text/css" id="less:f-forever-Livepreview-wedding-assets-css-skin">/*!
 * Theme v1.0.0 
 * Copyright 2015-2016 theemon.com
 */
.transition_effect {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
h1,
h2 {
  font-family: 'Roboto', sans-serif;
}
h3,
.inner-header-wrapper-left h3 a,
.inner-header-wrapper-right h3 a,
.count-down .countdown-period,
.read-more,
.btn,
input.btn,
button.btn,
.psd-temp-class .fa-heart,
.home-agency .what-we-do .event strong,
.home-agency .detail strong,
.home-agency .post-blog strong,
.blog .aside-section i,
.blog .blog-post-wrapper .post-blog strong,
.categories-wrapper ul li:hover a,
.blog-single-quotes .media .rply-class,
.blog-detail-page .pager li > a.next-class,
.blog-detail-page .pager li > a.privious-class,
.blog-detail-page .pager li > span,
.blog-single-quotes .media .media-body .all-post,
.blog-single-quotes .media .media-body .all-post a,
.blog-single-quotes .media .media-heading,
.blog-from form button,
.left-inner-header .park-class,
.left-part h3,
.sorry-cls,
.home-agency .sec-block h5,
.home-agency .sec-block a,
.navigation li a:hover,
.home-agency .how-we-do .event strong,
.blog-single-quotes .author,
.share-block > li,
.blog-detail-page .blog-single-quotes .share-block a i,
.blog-detail-page .pager li > a.privious-class:after,
.blog-detail-page .pager li > a.next-class:before,
.left-inner-header .park-class:before,
.macro-class:hover,
.next-prev-class .pagination > li > a,
.blog .blog-post-wrapper .post-blog h2 a,
.travel-page .left-part-header h3 a,
.event-page .left-part-header h3 a,
.home-agency .what-we-do .event h3 a,
.home-agency .our-team .group .detail a,
.home-agency .post-blog h3 a,
.met-section h3 a,
.event-description h3 a {
  color: #e08e79;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.our-team-one .social-link li a {
  color: #e59f8e;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.event-page-content .span-wrapper i {
  color: #f1cdc4;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#wedding-item .owl-prev:before,
#wedding-item .owl-next:after,
.home-agency .owl-prev:before,
.home-agency .owl-next:after,
.home-agency .our-team .group .detail a i,
#partner-slider .owl-prev:before,
#partner-slider .owl-next:after {
  color: #f5dbd4;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.home-agency .how-we-do .event:hover strong,
.blog-detail-page .blog-single-quotes .quotes p,
.count-down .countdown-amount,
.blog .blog-post-wrapper .post-blog h2 a:hover,
.blog-single-quotes .media .media-body .all-post a:hover,
.our-team .team-member-info .social-link li:hover a,
#footer .social-link li a:hover,
.travel-page .left-part-header h3 a:hover,
.left-inner-header .park-class:hover,
.categories-wrapper ul li a:hover,
.recent-update h4:hover a,
.blog-detail-page .pager li > a.next-class:hover,
.blog-detail-page .pager li > a.privious-class:hover,
.event-page .left-part-header h3 a:hover,
.home-agency .what-we-do .event h3 a:hover,
.home-agency .our-team .group .detail a:hover,
.home-agency .post-blog h3 a:hover,
.inner-header-wrapper-left h3 a:hover,
.inner-header-wrapper-right h3 a:hover,
.met-section h3 a:hover,
.event-description h3 a:hover {
  color: #ce5030;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.blog-page-content .blog-from button:hover,
.home-agency .our-team .group .detail a:hover i,
.pagination > li > a:focus,
.pagination > li > span:focus,
.home-agency .recent-posts .btn:hover,
.travel-page .right-part .btn:hover {
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.blog .blog-page-content .post-blog .btn-default {
  background: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.travel-page .bg-color .right-part .bt,
.home-agency .recent-posts .btn,
.travel-page .right-part .btn {
  background: transparent;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.tparrows.tp-leftarrow:hover,
.tparrows.tp-rightarrow:hover,
#people .owl-page.active,
#wedding-item .owl-page.active,
.team-slider .owl-page.active,
.tp-bullet.selected,
.friend-wishes .owl-page.active,
#partner-slider .owl-page.active,
.logo i,
.bell:after,
.time-line-divider::before,
.met-section:after,
.read-more:hover,
.circle-class:hover,
.event-description-wrapper:before,
#people .owl-next:hover:after,
#people .owl-prev:hover:before,
.touch-class,
.btn:hover,
.btn:focus,
.btn.focus,
.tp-mask-wrap .tp-caption.read_more_banner a:hover,
#wedding-item .owl-prev:hover:before,
#wedding-item .owl-next:hover:after,
.home-agency .logo img,
.home-agency .how-we-do .event:hover a,
.home-agency .owl-prev:hover:before,
.home-agency .owl-next:hover:after,
#partner-slider .owl-next:hover:after,
#partner-slider .owl-prev:hover:before,
.next-prev-class .pagination > li:hover a,
.blog-detail-page .blog-single-quotes .share-block li:hover a,
textarea,
.time-line-divider:after,
.home-agency .right-footer .circle-class:hover,
.blog .blog-page-content .post-blog .btn-default:hover,
.blog-single-quotes .pager li:first-child::after,
.blog-page-content .blog-from button:hover,
.travel-page .bg-color .right-part .btn:hover,
.left-inner-header .park-class:after,
.tp-bullet:hover,
#people .owl-pagination .owl-page:hover,
#people-thought .owl-pagination .owl-page:hover,
#wedding-item .owl-pagination .owl-page:hover,
#partner-slider .owl-pagination .owl-page:hover,
.team-slider .owl-pagination .owl-page:hover,
.home-agency .our-team .group .detail > a:hover,
.pagination > li > a:focus,
.pagination > li > span:focus,
.home-agency .recent-posts .btn:hover {
  background: #e08e79;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.rsvp-wrapper {
  background-color: #e08e79;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.blog .banner-content-wrapper h1:after,
.event-page .banner-content-wrapper h1:after,
.travel-page .banner-content-wrapper h1:after,
.blog .blog-post-wrapper .post-blog strong:after {
  background: #f3d4cc;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.count-down .countdown-section:after,
.home .inner-header-wrapper-right h3 a:after,
.home .inner-header-wrapper-left h3 a:after,
.home-agency .what-we-do .event strong:after,
.home-agency .how-we-do .event strong:after,
.home-agency .detail strong:after,
.home-agency .post-blog strong:after,
.left-part h3:before,
.bg-color h3:before,
.event-description h3:after,
.time-line-divider,
.blog .blog-post-wrapper .post-blog h2 a:after,
.home-agency .what-we-do .event h3 a:after,
.home-agency .detail h3 a:after,
.home-agency .post-blog h3 a:after,
.event-description h3 a:after {
  background: #f6ded8;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.tparrows.tp-leftarrow:hover,
.tparrows.tp-rightarrow:hover,
.read-more,
#people .owl-next:hover:after,
#people .owl-prev:hover:before,
.btn,
input.btn,
button.btn,
.btn:hover,
.btn:focus,
.btn.focus,
.tp-mask-wrap .tp-caption.read_more_banner a:hover,
.home-agency .how-we-do .event:hover,
.btn,
button,
.left-inner-header .park-class,
.next-prev-class .pagination > li:hover a,
.blog-detail-page .quotes,
.blog-detail-page .blog-single-quotes .share-block a,
.next-prev-class .pagination > li > a,
.home-agency .our-team .group .detail a:hover,
.home-menu:focus {
  border-color: #e08e79;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.home-agency .logo {
  border-color: #ebb8ab;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#partner-slider .owl-next:after {
  border-color: #f3d4cc;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.blog-from .inner-wrapper input,
.blog-from form textarea,
#wedding-item .owl-next:after,
#wedding-item .owl-prev:before,
.home-agency .owl-prev:before,
.home-agency .owl-next:after,
.home-agency .our-team .group .detail a,
.gift-class,
#partner-slider .owl-prev:before,
#partner-slider .owl-next:after,
.inner-wrapper .input-box input,
form textarea,
.home-agency .rsvp-wrapper h3,
.met-section,
.met-section-right,
.event-page-content .span-wrapper {
  border-color: #f6ded8;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.benefit-perk .svg path {
  fill: #e08e79 !important;
}
</style>
<section>
<div class="parallax-window" data-parallax="scroll" data-image-src="http://theemon.com/f/forever/Livepreview/wedding/assets/images/blog-banner.jpg">
	<section class="banner">
		<div class="banner-content-wrapper">
			<h1>Blog</h1>
		</div>
	</section>
</div>
<div id="content">
	<!-- blog section start here -->
	<div class="blog-page-content">

		<div class="container">

			<div class="row">

				<div class="col-xs-12 col-sm-8  col-md-9 pad-right">
					<article class="blog-post-wrapper padding">
						<figure><img src="http://theemon.com/f/forever/Livepreview/wedding/assets/images/blog-1-img.jpg" alt="">
						</figure>
						<div class="post-blog">
							<span class="timing-blog"><i class="fa fa-calendar"> </i> <span> Nov 20, 2016 </span> <i class="fa fa-folder-open-o"></i> <span> Wedding </span></span>
							<h2><a href="#">And then she said "I do" </a></h2>
							<p>
								This life is what you make it. No matter what, you're going to mess up sometimes, it's a universal truth. But the good part is you get to decide how you're going to mess it up. Girls will be your friends - they'll act like it anyway. But just remember, some come, some go. The ones that stay with you through everything...
							</p>
							<a href="blog-detail-page.html" class="btn btn-default"> READ MORE <i class="fa fa-angle-right"></i></a>
						</div>
					</article>
					<article class="blog-post-wrapper">
						<figure class="video">
							<img src="http://theemon.com/f/forever/Livepreview/wedding/assets/images/blog-2-img.jpg" alt="" data-video="https://www.youtube.com/embed/xW_AsV7k42o">
						</figure>
						<div class="post-blog">
							<span class="timing-blog"><i class="fa fa-calendar"> </i> <span> Nov 20, 2016 </span> <i class="fa fa-folder-open-o"></i> <span> Wedding </span></span>
							<h2><a>What a difference a day can make</a></h2>
							<p>
								This life is what you make it. No matter what, you're going to mess up sometimes, it's a universal truth. But the good part is you get to decide how you're going to mess it up. Girls will be your friends - they'll act like it anyway. But just remember, some come, some go. The ones that stay with you through everything...
							</p>
							<a href="blog-detail-page.html" class="btn btn-default"> READ MORE <i class="fa fa-angle-right"></i></a>
						</div>
					</article>
					<article class="blog-post-wrapper">
						<figure><img src="http://theemon.com/f/forever/Livepreview/wedding/assets/images/blog-3-img.jpg" alt="">
						</figure>
						<div class="post-blog">
							<span class="timing-blog"><i class="fa fa-calendar"> </i> <span> Nov 20, 2016 </span> <i class="fa fa-folder-open-o"></i> <span> Wedding </span></span>
							<h2><a href="#">I'll Aways Be Daddy's Girl</a></h2>
							<p>
								This life is what you make it. No matter what, you're going to mess up sometimes, it's a universal truth. But the good part is you get to decide how you're going to mess it up. Girls will be your friends - they'll act like it anyway. But just remember, some come, some go. The ones that stay with you through everything...
							</p>
							<a href="blog-detail-page.html" class="btn btn-default"> READ MORE <i class="fa fa-angle-right"></i></a>
						</div>
					</article>
					<div class="next-prev-class">
						<ul class="pagination">
							<li>
								<a href="#" aria-label="Previous"> <span aria-hidden="true">&lt;</span> </a>
							</li>
							<li>
								<a href="#">1</a>
							</li>
							<li>
								<a href="#">2</a>
							</li>
							<li>
								<a href="#">3</a>
							</li>
							<li>
								<a href="#">4</a>
							</li>
							<li>
								<a href="#">5</a>
							</li>
							<li>
								<a href="#" aria-label="Next"> <span aria-hidden="true"> &gt;</span> </a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-3">
					<aside class="aside-section">
						<div class="categories-wrapper">
							<div class="info-wrap">
								<h2>Categories</h2>
							</div>
							<ul>
								<li>
									<a href="#">Events</a>
								</li>
								<li>
									<a href="#">Memories</a>
								</li>
								<li>
									<a href="#">Stories</a>
								</li>
								<li>
									<a href="#">Trips</a>
								</li>
								<li>
									<a href="#">General</a>
								</li>
							</ul>
						</div>
						<div class="categories-wrapper recent-post">
							<div class="info-wrap">
								<h2>Recent Posts</h2>
							</div>
							<div class="recent-post-wrapper">
								<figure>
									<a href="#"><img src="http://theemon.com/f/forever/Livepreview/wedding/assets/images/recent-post-1.png" alt=""></a>

								</figure>
								<div class="recent-update">
									<span>22 May  2016</span>
									<h4><a href="blog-detail-page.html">And then she said "I do"</a></h4>
								</div>
							</div>
							<div class="recent-post-wrapper">
								<figure>
									<a href="blog-detail-page.html"><img src="http://theemon.com/f/forever/Livepreview/wedding/assets/images/recent-post-2.png" alt=""></a>

								</figure>
								<div class="recent-update">
									<span>22 May  2016</span>
									<h4><a href="blog-detail-page.html">What a difference a day can make</a></h4>
								</div>
							</div>
							<div class="recent-post-wrapper">
								<figure>
									<a href=""><img src="http://theemon.com/f/forever/Livepreview/wedding/assets/images/recent-post-3.png" alt=""></a>

								</figure>
								<div class="recent-update">
									<span>22 May  2016</span>
									<h4><a href="#">I'll Aways Be Daddy's Girl</a></h4>
								</div>
							</div>
						</div>
						<div class="categories-wrapper tag">
							<div class="info-wrap">
								<h2>Tags</h2>
							</div>
							<ul class="activities clearfix">
								<li>
									<a href="#">Love</a>
								</li>
								<li>
									<a href="#">Wedding</a>
								</li>
								<li>
									<a href="#">General</a>
								</li>
								<li>
									<a href="#">Bride</a>
								</li>
								<li>
									<a href="#">Event</a>
								</li>
								<li>
									<a href="#">Quotes</a>
								</li>
								<li>
									<a href="#">Video</a>
								</li>

							</ul>
						</div>
						<div class="categories-wrapper Instagram">
							<div class="info-wrap">
								<h2>Instagram</h2>
							</div>
							<ul class="photo-gallery clearfix">
								<li>
									<a href="#"> <img src="assets/images/thumb-sm-1.png" alt="#"> </a>
								</li>
								<li>
									<a href="#"> <img src="assets/images/thumb-sm-2.png" alt="#"> </a>
								</li>
								<li>
									<a href="#"> <img src="assets/images/thumb-sm-3.png" alt="#"> </a>
								</li>
								<li>
									<a href="#"> <img src="assets/images/thumb-sm-2.png" alt="#"> </a>
								</li>
								<li>
									<a href="#"> <img src="assets/images/thumb-sm-3.png" alt="#"> </a>
								</li>
								<li>
									<a href="#"> <img src="assets/images/thumb-sm-1.png" alt="#"> </a>
								</li>

							</ul>
						</div>
					</aside>
				</div>
			</div>
		</div>

	</div>
	<!-- blog section end here -->
</div>
</section>