<style>
	body {
		background: beige;
	}

	.top-area {
		height: 100px !important;
	}
</style>
<section>
<div class="parallax-window" data-parallax="scroll" data-image-src="assets/images/blog-banner.jpg">
	<section class="banner">
		<div class="banner-content-wrapper">
			<h1>Blog</h1>
		</div>
	</section>
</div>
<div id="content">
	<!-- blog section start here -->
	<div class="blog-page-content">

		<div class="container">

			<div class="row">

				<div class="col-xs-12 col-sm-8  col-md-9 pad-right">
					<article class="blog-post-wrapper padding">
						<figure><img src="http://theemon.com/f/forever/Livepreview/wedding/assets/images/blog-1-img.jpg" alt="">
						</figure>
						<div class="post-blog">
							<span class="timing-blog"><i class="fa fa-calendar"> </i> <span> Nov 20, 2016 </span> <i class="fa fa-folder-open-o"></i> <span> Wedding </span></span>
							<h2><a href="#">And then she said "I do" </a></h2>
							<p>
								This life is what you make it. No matter what, you're going to mess up sometimes, it's a universal truth. But the good part is you get to decide how you're going to mess it up. Girls will be your friends - they'll act like it anyway. But just remember, some come, some go. The ones that stay with you through everything...
							</p>
							<a href="blog-detail-page.html" class="btn btn-default"> READ MORE <i class="fa fa-angle-right"></i></a>
						</div>
					</article>
					<article class="blog-post-wrapper">
						<figure class="video">
							<img src="http://theemon.com/f/forever/Livepreview/wedding/assets/images/blog-2-img.jpg" alt="" data-video="https://www.youtube.com/embed/xW_AsV7k42o">
							<div class="control">
								<a href="#"><i class="fa fa-play"></i></a>
							</div>
						</figure>
						<div class="post-blog">
							<span class="timing-blog"><i class="fa fa-calendar"> </i> <span> Nov 20, 2016 </span> <i class="fa fa-folder-open-o"></i> <span> Wedding </span></span>
							<h2><a>What a difference a day can make</a></h2>
							<p>
								This life is what you make it. No matter what, you're going to mess up sometimes, it's a universal truth. But the good part is you get to decide how you're going to mess it up. Girls will be your friends - they'll act like it anyway. But just remember, some come, some go. The ones that stay with you through everything...
							</p>
							<a href="blog-detail-page.html" class="btn btn-default"> READ MORE <i class="fa fa-angle-right"></i></a>
						</div>
					</article>
					<article class="blog-post-wrapper">
						<figure><img src="http://theemon.com/f/forever/Livepreview/wedding/assets/images/blog-3-img.jpg" alt="">
						</figure>
						<div class="post-blog">
							<span class="timing-blog"><i class="fa fa-calendar"> </i> <span> Nov 20, 2016 </span> <i class="fa fa-folder-open-o"></i> <span> Wedding </span></span>
							<h2><a href="#">I'll Aways Be Daddy's Girl</a></h2>
							<p>
								This life is what you make it. No matter what, you're going to mess up sometimes, it's a universal truth. But the good part is you get to decide how you're going to mess it up. Girls will be your friends - they'll act like it anyway. But just remember, some come, some go. The ones that stay with you through everything...
							</p>
							<a href="blog-detail-page.html" class="btn btn-default"> READ MORE <i class="fa fa-angle-right"></i></a>
						</div>
					</article>
					<div class="next-prev-class">
						<ul class="pagination">
							<li>
								<a href="#" aria-label="Previous"> <span aria-hidden="true">&lt;</span> </a>
							</li>
							<li>
								<a href="#">1</a>
							</li>
							<li>
								<a href="#">2</a>
							</li>
							<li>
								<a href="#">3</a>
							</li>
							<li>
								<a href="#">4</a>
							</li>
							<li>
								<a href="#">5</a>
							</li>
							<li>
								<a href="#" aria-label="Next"> <span aria-hidden="true"> &gt;</span> </a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-3">
					<aside class="aside-section">
						<form>
							<div class="search-box">
								<input type="text" name="serch" placeholder="Search...">
								<i class="fa fa-search"> </i>
							</div>
						</form>

						<div class="categories-wrapper">
							<div class="info-wrap">
								<h2>Categories</h2>
							</div>
							<ul>
								<li>
									<a href="#">Events</a>
								</li>
								<li>
									<a href="#">Memories</a>
								</li>
								<li>
									<a href="#">Stories</a>
								</li>
								<li>
									<a href="#">Trips</a>
								</li>
								<li>
									<a href="#">General</a>
								</li>
							</ul>
						</div>
						<div class="categories-wrapper recent-post">
							<div class="info-wrap">
								<h2>Recent Posts</h2>
							</div>
							<div class="recent-post-wrapper">
								<figure>
									<a href="#"><img src="http://theemon.com/f/forever/Livepreview/wedding/assets/images/recent-post-1.png" alt=""></a>

								</figure>
								<div class="recent-update">
									<span>22 May  2016</span>
									<h4><a href="blog-detail-page.html">And then she said "I do"</a></h4>
								</div>
							</div>
							<div class="recent-post-wrapper">
								<figure>
									<a href="blog-detail-page.html"><img src="http://theemon.com/f/forever/Livepreview/wedding/assets/images/recent-post-2.png" alt=""></a>

								</figure>
								<div class="recent-update">
									<span>22 May  2016</span>
									<h4><a href="blog-detail-page.html">What a difference a day can make</a></h4>
								</div>
							</div>
							<div class="recent-post-wrapper">
								<figure>
									<a href=""><img src="http://theemon.com/f/forever/Livepreview/wedding/assets/images/recent-post-3.png" alt=""></a>

								</figure>
								<div class="recent-update">
									<span>22 May  2016</span>
									<h4><a href="#">I'll Aways Be Daddy's Girl</a></h4>
								</div>
							</div>
						</div>
						<div class="categories-wrapper tag">
							<div class="info-wrap">
								<h2>Tags</h2>
							</div>
							<ul class="activities clearfix">
								<li>
									<a href="#">Love</a>
								</li>
								<li>
									<a href="#">Wedding</a>
								</li>
								<li>
									<a href="#">General</a>
								</li>
								<li>
									<a href="#">Bride</a>
								</li>
								<li>
									<a href="#">Event</a>
								</li>
								<li>
									<a href="#">Quotes</a>
								</li>
								<li>
									<a href="#">Video</a>
								</li>

							</ul>
						</div>
						<div class="categories-wrapper Instagram">
							<div class="info-wrap">
								<h2>Instagram</h2>
							</div>
							<ul class="photo-gallery clearfix">
								<li>
									<a href="#"> <img src="assets/images/thumb-sm-1.png" alt="#"> </a>
								</li>
								<li>
									<a href="#"> <img src="assets/images/thumb-sm-2.png" alt="#"> </a>
								</li>
								<li>
									<a href="#"> <img src="assets/images/thumb-sm-3.png" alt="#"> </a>
								</li>
								<li>
									<a href="#"> <img src="assets/images/thumb-sm-2.png" alt="#"> </a>
								</li>
								<li>
									<a href="#"> <img src="assets/images/thumb-sm-3.png" alt="#"> </a>
								</li>
								<li>
									<a href="#"> <img src="assets/images/thumb-sm-1.png" alt="#"> </a>
								</li>

							</ul>
						</div>
					</aside>
				</div>
			</div>
		</div>

	</div>
	<!-- blog section end here -->
</div>
</section>